<div class="w-8/12 m-auto h-screen lg:w-7/12">
  <div class="h-full lg:grid lg:grid-cols-2">
    <!--! LEFT SIDE CONTENT -->
    <div class="h-full pt-16 overflow-hidden">
      <div *ngFor="let key of profile" class="mb-6">
        <p
          class="text-[color:var(--secondary-text-color)] text-4xl font-bold !mb-1"
        >
          {{ key.name }}
        </p>
        <div class="flex items-center space-x-2">
          <p class="text-[color:var(--secondary-text-color)] text-2xl">
            {{ key.job }}
          </p>

          <!-- GIF PAW -->
          <div class="gif-container">
            <img
              src="../../assets/static-paw.png"
              alt="Static Image"
              class="static-image w-10 h-auto pb-4"
            />
            <img
              src="https://media.giphy.com/media/NQDcH2ZZaPV8QBDYK3/giphy.gif"
              alt="GIF"
              class="gif-image w-10 h-auto pb-4"
            />
          </div>
        </div>
        <p class="w-9/12 !-mt-1">
          <i>{{ key.about }}</i>
        </p>
      </div>
      <ul class="pt-6 text-sm">
        <li *ngFor="let nav of navs" class="pt-3">
          <a href="{{ nav.path }}" class="nav-link">{{ nav.name }}</a>
        </li>
      </ul>
    </div>

    <!--! RIGHT SIDE CONTENT -->
    <div class="overflow-y-auto p-6 h-full">
      <section id="about" class="pt-24 justify-center">
        <app-about></app-about>
      </section>
      <section id="experience" class="pt-24 justify-center">
        <app-experience></app-experience>
      </section>
      <section id="biodata" class="pt-24 justify-center">
        <app-biodata></app-biodata>
      </section>
      <section id="projects" class="pt-20 justify-center">
        <app-projects></app-projects>
      </section>
      <section id="contact" class="pt-20 justify-center">
        <app-contact></app-contact>
      </section>
    </div>
  </div>
</div>
