<div
  class="h-screen mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
>
  <div
    class="lg:h-full xl:h-full lg:grid lg:grid-cols-2 xl:grid xl:grid-cols-2"
  >
    <!--! LEFT SIDE CONTENT -->
    <div class="lg:pt-24 pl-6 overflow-hidden lg:pl-0 xl:pl-0">
      <div *ngFor="let key of profile" class="mb-6">
        <p
          class="text-[color:var(--secondary-text-color)] text-5xl font-bold !mb-1"
        >
          {{ key.name }}
        </p>
        <div class="flex items-center space-x-2">
          <p
            class="text-[color:var(--secondary-text-color)] text-2xl font-normal"
          >
            {{ key.job }}
          </p>

          <!-- GIF PAW -->
          <div class="gif-container">
            <img
              src="../../assets/static-paw.png"
              alt="Static Image"
              class="static-image w-10 h-auto pb-4"
            />
            <img
              src="https://media.giphy.com/media/NQDcH2ZZaPV8QBDYK3/giphy.gif"
              alt="GIF"
              class="gif-image w-10 h-auto pb-4"
            />
          </div>
        </div>
        <p class="w-9/12 font-normal text-base">
          <i>{{ key.about }}</i>
        </p>
      </div>
      <ul class="pt-6 text-sm hidden lg:block xl:block">
        <li *ngFor="let nav of navs" class="pt-2">
          <a href="{{ nav.path }}" class="nav-link">{{ nav.name }}</a>
        </li>
      </ul>

      <div class="pb-16 lg:pt-72">
        <app-social-icons></app-social-icons>
      </div>
    </div>

    <!--! RIGHT SIDE CONTENT -->
    <div class="overflow-y-auto p-6 h-full">
      <section id="about" class="lg:pt-24 xl:pt-24 justify-center">
        <app-about></app-about>
      </section>
      <section id="experience" class="pt-24 justify-center">
        <app-experience></app-experience>
      </section>
      <section id="biodata" class="pt-24 justify-center">
        <app-biodata></app-biodata>
      </section>
      <section id="projects" class="pt-20 justify-center">
        <app-projects></app-projects>
      </section>
      <section id="contact" class="pt-20 justify-center">
        <app-contact></app-contact>
      </section>
    </div>
  </div>
</div>
