// .name {
//   font-size: 30px;
//   color: var(--link-color);
//   margin: 0;
//   padding-top: 3rem;
//   font-family: var(--text-header-family);
//   animation: text-flicker-in-glow 4s linear both;

//   position: absolute;
//   left: 45px;
// }

/* Define the initial styles for the nav links */
.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Define the styles for the glowing and growing line */
.nav-link::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 2px;
  background-color: var(--link-text-color);
  transition: width 0.2s ease, box-shadow 0.2s ease;
}

.nav-link:hover {
  color: var(--link-text-color);
}

.nav-link:hover::after {
  width: 60%;
  // box-shadow: 0 0 5px var(--secondary-text-color),
  //   0 0 10px var(--secondary-text-color);
}

//! SCREENS
// @media (min-width: 1024px) {
//   ul.custom-class {
//     display: block; /* lg:block */
//   }
// }

// @media (min-width: 1280px) {
//   ul.custom-class {
//     display: block; /* xl:block */
//   }
// }

// @media (min-width: 1536px) {
//   ul.custom-class {
//     display: block; /* xxl:block */
//     padding-top: 1.5rem; /* 2xl:pt-6 */
//   }
// }
