<h2
  class="text-[color:var(--secondary-text-color)] font-semibold pb-3 col-span-2 !text-base"
>
  Contact
</h2>

<div class="flex flex-col pb-12">
  <div class="flex items-center">
    <h1
      class="text-[color:var(--secondary-text-color)] font-medium !text-3xl mr-[-5px]"
    >
      Get In Touch
    </h1>
    <img
      src="../../../assets/reverse-cat-75.gif"
      alt="GIF"
      class="w-12 h-auto pb-5 -ml-1"
    />
  </div>

  <p class="text-sm pt-1 mt-1">
    <i
      >"Right now I'm open to new opportunities and experiences. <br />If you
      have any queries, feel free to contact me anytime"</i
    >
  </p>
  <div class="">
    <button
      mat-raised-button
      class="bg-[color:var(--border-project-color)] text-[color:var(--secondary-text-color)] px-3 py-1 text-sm rounded-xl hover:bg-[color:var(--fade-text-color)] w-4/12"
      (click)="sendMessage()"
    >
      Send Message
    </button>
  </div>
</div>
