<h2
  class="text-[color:var(--secondary-text-color)] font-semibold pb-3 !text-base"
>
  ABOUT
</h2>
<p class="pb-2">
  My journey into coding began in 2017 when I returned to college to pursue a
  second degree in Bachelor of Information Technology, which ignited my passion
  for web development. By 2020, I was freelancing as both a Front-End Web
  Designer and Graphic Designer, developing skills in creating visually engaging
  designs for digital and print media. In 2022, I joined
  <a href="https://www.accenture.com/ph-en" target="_blank">
    <span
      class="text-[color:var(--secondary-text-color)] hover:text-[color:var(--link-text-color)] font-medium"
      >Accenture Philippines</span
    >
  </a>

  as an
  <span class="text-[color:var(--secondary-text-color)] font-medium"
    >Associate Software Engineer</span
  >, where I contributed to defining requirements, designing applications, and
  ensuring their functionality and performance.
</p>

<p class="py-2">
  Currently, I’m
  <span class="text-[color:var(--secondary-text-color)] font-medium"
    >Front-End Developer
  </span>
  at
  <a href="https://www.lgusuite.com/" target="_blank">
    <span
      class="text-[color:var(--secondary-text-color)] hover:text-[color:var(--link-text-color)] font-medium"
      >LGUSuite Inc.</span
    >
  </a>
  , I create user-centric, visually appealing interfaces for web and mobile
  applications. I convert design mockups into responsive UI layouts using HTML,
  CSS, and Angular, ensuring optimal performance across devices and browsers. My
  role involves writing clean, maintainable code, collaborating with
  cross-functional teams, and staying updated with the latest UI/UX trends.
</p>

<p class="py-2">
  When I’m not at work, you might find me working out, reading a book, reviewing
  my work, or out riding with my motorcycle.
</p>
