<div class="flex justify-end pr-6 pt-5">
  <i
    class="fa-solid fa-x text-[color:var(--primary-text-color)] hover:text-[color:var(--bg-color)]"
    (click)="onCancel()"
    matTooltip="close"
    matTooltipPosition="right"
    matTooltipShowDelay="500"
  >
  </i>
</div>
<div class="px-16 pb-4 text-[color:var(--bg-color)]">
  <section>
    <ng-container *ngFor="let info of messageInfo">
      <p
        class="text-lg font-semibold text-center text-[color:var(--fade-text-color)]"
      >
        CONTACT INFORMATION
      </p>

      <div class="pt-4">
        <p class="text-base font-medium text-[color:var(--primary-text-color)]">
          ADDRESS:
        </p>
        <p>{{ info.address }}</p>
      </div>

      <div class="pt-8">
        <p class="text-base font-medium text-[color:var(--primary-text-color)]">
          Mobile:
        </p>
        <p>{{ info.mobileOne }}</p>
        <p>{{ info.mobileTwo }}</p>
      </div>
      <div class="pt-8 pb-2">
        <p class="text-base font-medium text-[color:var(--primary-text-color)]">
          Click to email:
        </p>

        <button class="text-lg italic">
          <a
            href="mailto:mitchele.centeno@gmail.com"
            matTooltip="send email to mitchele.centeno@gmail.com"
            matTooltipPosition="above"
            matTooltipShowDelay="500"
            class="flex items-center hover:text-[color:var(--link-text-color)] group"
          >
            <p class="flex flex-nowrap">
              {{ info.email }}
              <span
                class="material-symbols-outlined text-sm pl-1 transition-transform translate-custom-hover"
              >
                arrow_outward
              </span>
            </p>
          </a>
        </button>
      </div>
    </ng-container>
  </section>
</div>
