<div class="px-8 py-4 h-full text-[color:var(--bg-color)]">
  <div class="flex justify-end pt-4">
    <i
      class="fa-solid fa-x text-[color:var(--primary-text-color)] hover:text-[color:var(--bg-color)]"
      (click)="onCancel()"
      matTooltip="close"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
    >
    </i>
  </div>

  <section>
    <ng-container *ngFor="let info of messageInfo">
      <p
        class="text-lg font-semibold text-center text-[color:var(--fade-text-color)]"
      >
        CONTACT INFORMATION
      </p>

      <div class="pt-4">
        <p class="text-base font-medium text-[color:var(--primary-text-color)]">
          ADDRESS:
        </p>
        <p>{{ info.address }}</p>
      </div>

      <div class="pt-8">
        <p class="text-base font-medium text-[color:var(--primary-text-color)]">
          Mobile:
        </p>
        <p>{{ info.mobileOne }}</p>
        <p>{{ info.mobileTwo }}</p>
      </div>
      <div class="pt-8 pb-6">
        <p class="text-base font-medium text-[color:var(--primary-text-color)]">
          Email here:
        </p>

        <button class="text-lg italic">
          <a
            href="mailto:mitchele.centeno@gmail.com"
            matTooltip="send email to mitchele.centeno@gmail.com"
            matTooltipPosition="above"
            matTooltipShowDelay="500"
            class="flex items-center hover:text-[color:var(--link-text-color)]"
          >
            <span class="flex items-center">
              {{ info.email }}
              <span
                class="material-symbols-outlined text-sm pl-1 transition-transform translate-custom-hover"
              >
                arrow_outward
              </span>
            </span>
          </a>
        </button>
      </div>
    </ng-container>
  </section>
</div>
