@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Colors */
:root {
  --bg-color: #0f172a;
  --primary-text-color: #94a3b8;
  --secondary-text-color: #e2e8f0;
  --link-text-color: #55d5c5;
  --dark-link-text-color: #3e9a9a;
  --fade-text-color: #64748b;
  --skills-text-color: #5eead4;
  --skills-button-color: #122b39;
  --border-project-color: #242d3e;
}

/* Main Styles */
body {
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  scrollbar-width: none; /* Hide scrollbars in Firefox */
}

// *,
// html {
//   scroll-behavior: smooth !important;
// }

/* Hide scrollbars in modern browsers */
::-webkit-scrollbar {
  display: none;
}

/* Cursor Follow Effect */
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.flashlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 62.5rem; /* Adjust size as needed */
  height: 62.5rem; /* Adjust size as needed */
  background: radial-gradient(
    circle,
    rgba(70, 70, 70, 0.1) 20%,
    rgba(89, 90, 90, 0) 60%
  );
  pointer-events: none;
  mix-blend-mode: screen;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; /* Ensure it stays above other elements */
  transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
}

/* GIF Hover Effect */
.gif-container {
  position: relative;
  display: inline-block;
}

.static-image {
  display: block;
}

.gif-image {
  display: none;
}

.gif-container:hover .static-image {
  display: none;
}

.gif-container:hover .gif-image {
  display: block;
}

/* Link Arrow Animation */
.transition-transform {
  transition: transform 0.2s ease; /* Adjust timing and easing as needed */
}

.group:hover .translate-custom-hover {
  transform: translate(2px, -2px);
}

/* Active Link */
.active-link {
  color: red;
}
